<%= stylesheet_link_tag "edit", "data-turbo-track": "reload" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="game-edit-container">
        <div class="edit-form-wrapper shadow">
          <h3 class="edit-title mb-4">
            <%= action_name.capitalize == 'New' ? '✏️ Добавить новую игру' : '✏️ Редактировать игру' %>
          </h3>

          <div class="card-body">
            <%= render 'form', game: @game %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>